// Place all the styles related to the Api::Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .all-questions {
   background-color: white;
  //  padding: 45px;
  //  margin-left: 80px;
   width: 700px;
   font-size: 14px;

    .top-questions {
      font-size: 30px;
      padding-left: 22px;
      padding-top: 10px;
      padding-bottom: 50px;
      width: 50%
    }

   p {
     font-size: 18px;
     border-top: 1px solid rgb(207, 207, 207);
   }

   a {
     text-decoration: none;
     color: rgb(8, 119, 194)
   }

  .total-questions {
      font-size: 18px;
  }

 }

 table.header-table {
    //  border: 1px solid black;
    width: 850px;
    padding-left: 162px;
    padding-top: 60px;
    
 }

 table.questions-table {
     width: 850px;
    padding-left: 25px;
    padding-top: 5px;
 }

   th {
      font-size: 27px;
      font-weight: normal;
     text-decoration: none;
    //  padding-right: 80px;
     width: 250px;

  }

  th.title {
    // float: left;
    //   width: 100%;
    //   border: 1px solid black;
      padding-left: -40px;
      width: 30%
  }

  th.total-questions {
    padding-top: 25px;
      font-size: 18px;
      padding-right: 55px;
      border-bottom: 1px solid rgb(207, 207, 207);
      padding-bottom: 20px;
    //   border: 1px solid black;

  }

  td {
    //   border: 1px solid black;
      border-bottom: 1px solid rgb(207, 207, 207);
      padding-left: 15px;
      width: 80%;
    //   margin-bottom: 30px;
    padding-bottom: 110px;
      font-size: 16px;
      text-decoration: none;
  }

   a {
      text-decoration: none;
      color: rgb(22, 111, 163);
  }


  td.votes-and-answers-total {
    //   border: 1px solid black;
      float: right;
      padding-right: 12px;
      padding-left: 26px;
      margin-left: 100px;
      width: 18%;
    //   margin-right: 10px;
      text-align: center;
      font-size: 22px;
      font-weight: lighter;
      color: rgb(97, 97, 97);
    //   padding-left: 70px;
  }

  td.question-link {
      width: 74%;
  }

  td > div {
      font-size: 11px;
    //   vertical-align: middle;
    float: bottom;
  }


   .new-question-btn {
     float: right;
     margin-right: 1px;
     margin-top: 10px;
    // position: absolute;
    //  padding: 200px;
     color: white;
     background-color: rgb(41, 130, 247);
     padding: 11px 8px 11px;
     box-shadow: 1px 1px 1px rgb(220, 220, 228);
     text-decoration: none;
     border-radius: 10%;
     border: 1px solid rgb(33, 107, 204);
     width: 85px;
     font-size: 13px;
     border-top: 1px solid rgb(207, 207, 207);
   }

      .new-question-btn > a {
     color: white;
     text-decoration: none;
   }

   .new-question-btn:hover {
    background-color:  rgb(29, 91, 172);
    box-shadow: 1px 1px 1px rgb(13, 13, 167);
   }

















     .new-question {
    display: inline-block;
    // position: relative;
    // float: left;
    width: 600px;
    height: 600px;
    // padding-top: 100px;
    margin-top: 135px;
    margin-left: 290px;
    // font-size: 100px;

    // textarea {
    // width: 100%;
    // height: 150px;
    // }

    h2 {
        font-weight: normal;
        font-size: 28px;
        // margin-bottom: 200px;
    }

    input {
        height: 26px;
        width: 630px;
        border-radius: 3%;
        border: 1px solid rgb(190, 190, 190);
        margin-bottom: 10px;
        
    }

    textarea {
        border: 1px solid rgb(185, 185, 185);
    }

    button {
        float: right;
        margin-right: -35px;
        color: white;
     background-color: rgb(41, 130, 247);
     padding: 10px;
     box-shadow: 3px 3px 3px rgb(220, 220, 228);
     text-decoration: none;
     border-radius: 5%;
     font-size: 14px;
    }

    button:hover {
    background-color:  rgb(29, 91, 172);
    box-shadow: 1px 1px 1px rgb(13, 13, 167);
    cursor: pointer;
    }
  }







    .question-show {
    display: inline-block;
    // font-size: 20px;
    // padding: 200px;
    width: 990px;
    height: 100%;
    margin-top: 55px;
    margin-left: 190px;

    .question-body {
      width: 720px;
    }

    // .edit-question {
    //   font-size: 50px;
    // }

    h2.question-header {
      font-size: 26px;
    font-weight: normal;
    padding-bottom: 80px;
    border-bottom: 1px solid rgb(219, 219, 219);
    }

    .ask-question-btn > a {
     float: right;
     margin-right: 5px;
     margin-top: 0px;
     color: white;
     background-color: rgb(41, 130, 247);
     padding: 11px 8px 11px;
     box-shadow: 1px 1px 1px rgb(220, 220, 228);
     text-decoration: none;
     border-radius: 5%;
     border: 1px solid rgb(33, 107, 204);
     width: 85px;
     font-size: 13px;
     border-top: 1px solid rgb(207, 207, 207);
        // font-size: 200px;
    }

    .ask-question-btn > a:hover {
    background-color:  rgb(29, 91, 172);
    box-shadow: 1px 1px 1px rgb(13, 13, 167);
    cursor: pointer;
    }


  }

//      a {
//      text-decoration: none;
//      color: rgb(8, 119, 194)
//    }


// .question-edit {
//   padding: 300px;
// }

     .question-edit {
    display: inline-block;
    // position: relative;
    // float: left;
    width: 600px;
    height: 600px;
    // padding-top: 100px;
    margin-top: 135px;
    margin-left: 290px;
    // font-size: 100px;

    // textarea {
    // width: 100%;
    // height: 150px;
    // }

    h2 {
        font-weight: normal;
        font-size: 28px;
        // margin-bottom: 200px;
    }

    input {
        height: 26px;
        width: 630px;
        border-radius: 3%;
        border: 1px solid rgb(190, 190, 190);
        margin-bottom: 10px;
        
    }

    textarea {
        border: 1px solid rgb(185, 185, 185);
    }

    button {
        float: right;
        margin-right: -35px;
        color: white;
     background-color: rgb(41, 130, 247);
     padding: 10px;
     box-shadow: 3px 3px 3px rgb(220, 220, 228);
     text-decoration: none;
     border-radius: 5%;
     font-size: 14px;
    }

    button:hover {
    background-color:  rgb(29, 91, 172);
    box-shadow: 1px 1px 1px rgb(13, 13, 167);
    cursor: pointer;
    }
  }