// Place all the styles related to the Api::Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .all-questions {
   background-color: white;
   padding: 45px;
   margin-left: 80px;
   width: 700px;
   font-size: 14px;

    .top-questions {
      font-size: 30px;
      padding-left: 22px;
      padding-top: 10px;
      padding-bottom: 50px;
      width: 50%
    }

   p {
     font-size: 18px;
     border-top: 1px solid rgb(207, 207, 207);
   }

   a {
     text-decoration: none;
     color: rgb(8, 119, 194)
   }

  .total-questions {
      font-size: 18px;
  }

 }

 table {
     border: 1px solid black;
    width: 900px;
    padding-left: 25px;
    padding-top: 60px;
    
 }

   th {
      font-size: 27px;
      font-weight: normal;
     text-decoration: none;
    //  padding-right: 80px;
     width: 250px;

  }

  th.title {
    //   width: 100%;
      border: 1px solid black;
      padding-left: 40px;
  }

  th.total-questions {
    padding-top: 25px;
      font-size: 18px;
      padding-right: 25px;
      border-bottom: 1px solid rgb(206, 206, 206);
      padding-bottom: 10px;
      border: 1px solid black;

  }

  td {
      border: 1px solid black;
    //   width: 600px;
      width: 80%;
    //   width: 600px;
    //   float: left;
  }


  td.votes-and-answers-total {
      border: 1px solid black;
      float: right;
      width: 20%;
      padding-left: 60px;
  }

  td.question-link {
      width: 80%;
  }


   .new-question-btn {
     float: right;
     margin-right: 30px;
     margin-top: 10px;
    // position: absolute;
    //  padding: 200px;
     color: white;
     background-color: rgb(41, 130, 247);
     padding: 11px 8px 11px;
     box-shadow: 1px 1px 1px rgb(220, 220, 228);
     text-decoration: none;
     border-radius: 10%;
     border: 1px solid rgb(33, 107, 204);
     width: 85px;
     font-size: 13px;
     border-top: 1px solid rgb(207, 207, 207);
   }

      .new-question-btn > a {
     color: white;
     text-decoration: none;
   }

   .new-question-btn:hover {
    background-color:  rgb(29, 91, 172);
    box-shadow: 1px 1px 1px rgb(13, 13, 167);
   }