// Place all the styles related to the Api::Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  .all-tags {
    // position: inline;
    // display: block;
    font-size: 20px;
    padding-left: 200px;
    padding-top: 80px;
    // padding-bottom: 500px;

    div {
      font-size: 30px;
      padding-bottom: 130px;
    }

    table.tags-table {
      width: 100%;
      display: block;
    }

    td {
      height: 100px;
      width: 300px;
      display: inline-block;
      
    }

    p {
      clear:both;
   float:left;
    }

    p:hover {
    background-color: rgb(228, 239, 248);

    }

  }