// Place all the styles related to the Api::Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  .all-tags {
    // position: inline;
    // display: block;
    font-size: 20px;
    padding-left: 180px;
    padding-top: 80px;
    // padding-bottom: 500px;

    div {
      font-size: 30px;
      padding-bottom: 130px;
    }

    table.tags-table {
      width: 100%;
      display: block;
    }

    td {
      height: 100px;
      width: 300px;
      margin-right: 6px;
      display: inline-block;
      border-bottom: 1px solid white;
      border-bottom: 1px dotted rgb(218, 218, 218);
    }

    p {
      clear:both;
   float:left;
   font-size: 12px;
   background-color: rgb(219, 238, 255);
   padding: 5px;
   border-radius: 5%;
    }

    p:hover {
    background-color: rgb(202, 223, 250);

    }

    div.top-tags {
      padding-left: 10px;
    }

  }



  .tag-show {
    // width: 200px;
    // float: left;
    // display: block;
    h2 {
      // float: top;
      font-weight: normal;
      font-size: 30px;
      margin-left: 200px;
    }

    table {
      margin-top: 100px;
      margin-left: 50px;
      // border: 1px solid black;
      // border-top: 1px solid gray;
      // width: 300px;
      // margin-right: 500px;
      // float: left;

          td.question-link {
            // float: left;
      // width: 700px;
      // float: left;
      // margin-left: -200px;
      width: 78%;
      // border: 1px solid black;
    }

    // tr {
    //   float: left;
    // }


    }


        div.ask-question-btn > a {
     float: right;
     vertical-align: top;
     margin-right:330px;
     margin-top: 20px;
     color: white;
     background-color: rgb(41, 130, 247);
     padding: 11px 8px 11px;
     box-shadow: 1px 1px 1px rgb(220, 220, 228);
     text-decoration: none;
     border-radius: 5%;
     border: 1px solid rgb(33, 107, 204);
     width: 85px;
     font-size: 13px;
     border-top: 1px solid rgb(207, 207, 207);
        // font-size: 200px;
    }

    .ask-question-btn > a:hover {
    background-color:  rgb(29, 91, 172);
    box-shadow: 1px 1px 1px rgb(13, 13, 167);
    cursor: pointer;
    }


    tbody > .tag-show {
      // float: left;
    }

    // .ask-question-btn > a {
    //  float: right;
    //  margin-right: 5px;
    //  margin-top: 0px;
    //  color: white;
    //  background-color: rgb(41, 130, 247);
    //  padding: 11px 8px 11px;
    //  box-shadow: 1px 1px 1px rgb(220, 220, 228);
    //  text-decoration: none;
    //  border-radius: 5%;
    //  border: 1px solid rgb(33, 107, 204);
    //  width: 85px;
    //  font-size: 13px;
    //  border-top: 1px solid rgb(207, 207, 207);
    //     // font-size: 200px;
    // }

    // .ask-question-btn > a:hover {
    // background-color:  rgb(29, 91, 172);
    // box-shadow: 1px 1px 1px rgb(13, 13, 167);
    // cursor: pointer;
    // }


  }